.navbar-a{
    background-color: rgb(25, 206, 143);
    display: flex;
    height: 120px;
}

.hero-a{
    background-color: rgb(25, 206, 143);
}

.term-a{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.finish-button{
    display: flex;
    justify-content: center;
}